#暂时忽略掉顶模块
Clever_park.*
CleverPark.*

#sb quartus
db/
output/
output_files/
simulation/
*.bak
*.rpt
incremental_db/

#simulation
work/
vsim.wlf
*.do
tb_*.vhd

#sb altium designer
History/
__Previews/
Project Logs */
Project Outputs */

#stm
obj/
*.o
*.a
JLink*.*
template*
stm32*
startup_stm*
misc.*
system_stm32*  
core/

#STM32F7
EWARM/

    
    
#unity 
#Master_unity/

#C#
bin/
obj/
Debug/
Release/

#NETMF
Stubs/
Resources/
Properties/
OnBoardFlash*.*

#du的私货
fuck
fuck*
fuck/

doc/